@keyframes fadeIn {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.4; }
  50% {
    opacity: 0.6; }
  75% {
    opacity: 0.8; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes hypnotize {
  0% {
    transform: scale(1) skewY(2deg); }
  100% {
    transform: scale(1.1) skewY(-2deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #6b6b6b; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.fixed-btn {
  position: fixed;
  background-color: #407982;
  bottom: 8%;
  right: 3%;
  display: none;
  opacity: 0;
  cursor: pointer;
  transform: translateY(20px);
  z-index: 1; }
  .fixed-btn__link {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem; }

.fadeIn {
  animation: fadeIn .5s ease-out;
  animation-fill-mode: forwards; }

.built-by {
  display: inline-block;
  margin-left: 1rem;
  background-color: #6b6b6b;
  padding: .5rem;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(255, 255, 255, 0.5);
  animation: hypnotize .5s ease-out;
  animation-iteration-count: 5; }

.heading--primary {
  font-size: 7.5rem;
  font-weight: 300;
  color: #407982; }
  @media only screen and (max-width: 50em) {
    .heading--primary {
      font-size: 6.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading--primary {
      font-size: 5rem; } }
  @media only screen and (max-width: 25.875em) {
    .heading--primary {
      font-size: 6rem; } }

.heading--secondary {
  font-size: 4.5rem;
  color: #407982;
  font-weight: 300; }

.heading--tertiary {
  color: #407982;
  font-size: 2.5rem;
  font-weight: 300; }

.u-margin-bottom-lg {
  margin-bottom: 10rem; }

.u-margin-bottom-md {
  margin-bottom: 5rem; }

.u-margin-bottom-sm {
  margin-bottom: 3rem; }

.u-margin-bottom-xs {
  margin-bottom: 1rem; }

.btn:link, .btn:visited {
  color: #fff !important;
  background-color: #4b858e;
  padding: 1.5rem 2rem; }

.btn:hover, .btn:active {
  transform: scale(0.96); }

input[type="submit"] {
  background-color: #407982;
  border: none;
  color: #fff;
  padding: 3rem 3.5rem;
  transition: transform .3s ease-out;
  cursor: pointer;
  font-size: 1.8rem;
  letter-spacing: 1px; }
  input[type="submit"]:hover {
    transform: scale(0.96); }

.contact {
  display: flex;
  justify-content: center;
  align-items: stretch; }
  @media only screen and (max-width: 50em) {
    .contact {
      flex-direction: column; } }
  .contact__picture {
    flex: 0 0 50%;
    visibility: hidden; }
    @media only screen and (max-width: 50em) {
      .contact__picture {
        flex: 1;
        margin-bottom: 10rem; } }
  .contact__img {
    width: 70%;
    height: auto; }
    @media only screen and (max-width: 62.5em) {
      .contact__img {
        width: 90%; } }
    @media only screen and (max-width: 50em) {
      .contact__img {
        width: 100%; } }
  .contact__details {
    visibility: hidden;
    flex: 0 0 50%; }
  .contact__message {
    font-size: 1.8rem; }
  .contact__email:link, .contact__email:visited {
    color: #407982;
    opacity: 1;
    transition: opacity .4s ease; }
  .contact__email:hover, .contact__email:active {
    opacity: 0.7; }
  .contact__form--item:not(:last-child) {
    margin-bottom: 3rem; }
  .contact__form--input {
    display: block;
    outline: none;
    width: 100%;
    padding: 1rem;
    border: 1px solid #fff; }
    .contact__form--input::-webkit-input-placeholder {
      font-family: sans-serif;
      letter-spacing: .5px; }
    .contact__form--input:focus {
      outline-offset: 5px;
      outline: 2px solid #6b6b6b; }

.about-box {
  display: flex; }
  @media only screen and (max-width: 62.5em) {
    .about-box {
      flex-direction: column; } }

.about__details {
  flex: 0 0 50%;
  padding-right: 5rem;
  opacity: 0; }
  @media only screen and (max-width: 62.5em) {
    .about__details {
      flex: 1;
      margin-bottom: 10rem; } }
  @media only screen and (max-width: 50em) {
    .about__details {
      padding-right: 0; } }

.about__text {
  font-size: 2.3rem;
  line-height: 1.8;
  font-weight: 300; }

.about__picture {
  flex: 1;
  opacity: 0;
  height: 50rem; }
  @media only screen and (max-width: 62.5em) {
    .about__picture {
      height: 100%; } }

.about__main-img {
  width: 100%;
  opacity: 0; }

.about__img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.success__content {
  display: inline-block;
  width: 30%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-image: linear-gradient(90deg, #d8e9ef 0%, #d8e9ef 50%, #c9d6de 50%); }
  @media only screen and (max-width: 50em) {
    .success__content {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .success__content {
      height: 45%; } }
  @media only screen and (max-width: 25.875em) {
    .success__content {
      width: 65%;
      height: 40%; } }

.success__text {
  text-align: center;
  font-size: 1.8rem; }

.success__figure {
  height: 10rem;
  width: 10rem; }

.success__img {
  height: 100%;
  width: 100%;
  display: inline-block; }

.success__back--link:link, .success__back--link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #6b6b6b;
  padding: 1rem 1.5rem;
  border: 1px solid #000;
  transition: all .4s ease-out; }

.success__back--link:hover, .success__back--link:active {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.8); }

.work__header {
  text-align: center;
  opacity: 0; }

.work__goals {
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.7;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 50em) {
    .work__goals {
      width: 100%; } }

.work__details {
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .work__details {
      flex-direction: column; } }

.work__card {
  flex: 0 0 40%;
  opacity: 0; }
  .work__card > *:not(:last-child) {
    margin-bottom: 3rem; }
  .work__card:not(:last-child) {
    margin-right: 1.5rem; }
  @media only screen and (max-width: 50em) {
    .work__card {
      flex: 1; }
      .work__card:not(:last-child) {
        margin-bottom: 10rem;
        margin-right: 0; } }

.work__picture {
  width: 45rem;
  height: 50rem; }
  @media only screen and (max-width: 62.5em) {
    .work__picture {
      width: 35rem;
      height: 40rem; } }
  @media only screen and (max-width: 50em) {
    .work__picture {
      width: 100%;
      height: auto; } }

.work__img {
  width: 100%;
  height: 100%; }

.work__identification {
  color: #407982; }

.work__position {
  font-size: 1.8rem;
  font-weight: 300;
  color: #407982; }

.work__description {
  font-size: 1.6rem;
  line-height: 1.5;
  width: 80%;
  font-weight: 300; }
  @media only screen and (max-width: 50em) {
    .work__description {
      width: 100%; } }

.work__visit-site {
  text-decoration: none;
  font-size: 1.5rem;
  color: currentColor;
  border-bottom: 1px solid rgba(64, 121, 130, 0.4); }

.education-box {
  display: flex; }
  @media only screen and (max-width: 50em) {
    .education-box {
      flex-direction: column; } }

.education__details {
  flex: 0 0 50%;
  margin-right: 15rem;
  opacity: 0; }
  @media only screen and (max-width: 62.5em) {
    .education__details {
      margin-right: 10rem; } }
  @media only screen and (max-width: 50em) {
    .education__details {
      flex: 1;
      margin-bottom: 10rem;
      margin-right: 0; } }

.education__text {
  font-size: 2.3rem;
  line-height: 1.4;
  font-weight: 300; }

.education__list {
  opacity: 0;
  list-style-type: none;
  flex: 1; }
  .education__list--item {
    border-bottom: 1px solid rgba(64, 121, 130, 0.4);
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between; }
    .education__list--item:not(:last-child) {
      margin-bottom: 4rem; }

.education__icon {
  text-decoration: none;
  color: #407982;
  font-size: 2.5rem; }

.education__description {
  font-size: 1.5rem;
  display: none; }
  .education__description > * {
    margin-bottom: 2rem; }
  .education__description > ul {
    list-style: disc;
    padding-left: 3rem; }

.education__location {
  color: #407982; }

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__mobile-nav {
    display: none;
    cursor: pointer; }
    .nav__mobile-nav i {
      font-size: 6rem;
      color: #6b6b6b;
      z-index: 1000; }
    @media only screen and (max-width: 62.5em) {
      .nav__mobile-nav {
        display: inline-block; } }
  .nav__list {
    list-style: none; }
    .nav__list--item {
      display: inline-block;
      position: relative; }
      .nav__list--item:not(:last-child) {
        margin-right: 3rem;
        padding-bottom: 1rem; }
        .nav__list--item:not(:last-child)::before {
          content: "";
          height: 2px;
          width: 0%;
          background-color: #407982;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: width .3s ease-out; }
      .nav__list--item:hover:not(:last-child)::before {
        width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .nav__list {
        display: none; } }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #6b6b6b;
    font-size: 1.6rem;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 300;
    transition: all .4s ease-out; }
  .nav__link:hover, .nav__link:active {
    color: #407982; }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all .4s;
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; }
    .overlay-content .js--link {
      display: block;
      text-decoration: none;
      color: #6b6b6b;
      font-size: 4rem;
      transition: all .3s;
      cursor: pointer;
      padding: 1.5rem 2rem; }
      .overlay-content .js--link:last-child {
        margin-top: 3rem; }
    .overlay-content .js--nav-btn {
      background-color: #407982;
      margin-top: 2rem;
      display: inline-block;
      color: #fff;
      font-size: 2rem; }
  .overlay .closebtn {
    display: inline-block;
    font-size: 6rem;
    color: #6b6b6b;
    text-decoration: none;
    position: absolute;
    right: 4rem;
    top: 8rem;
    padding: 2rem 3rem; }

.js--nav-icon {
  position: relative;
  z-index: 1000; }

.footer {
  padding: 5rem;
  color: #fff;
  background-color: #4c868e; }
  .footer-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300; }
    .footer-box > *:not(:last-child) {
      margin-bottom: 4rem; }
    @media only screen and (max-width: 62.5em) {
      .footer-box {
        width: 100%; } }
  .footer__signature {
    list-style: none;
    font-size: 2rem;
    text-align: center; }
    .footer__signature li {
      display: inline-block;
      padding: 0 1rem;
      letter-spacing: 1px; }
      .footer__signature li:not(:last-child) {
        border-right: 2px solid #fff; }
  .footer__message {
    font-size: 2rem;
    text-align: center; }
  .footer__policies {
    font-size: 1.5rem;
    text-align: center; }
  .footer__links > * {
    padding: 0 1rem .2rem 1rem;
    text-decoration: underline;
    opacity: 1; }
  .footer__links > *:hover {
    opacity: .8; }
  .footer__links > *:not(:last-child) {
    border-right: 2px solid #fff; }
  .footer__privacy {
    display: inline-block;
    color: currentColor; }
  .footer__terms {
    display: inline-block;
    color: currentColor; }
  .footer__copyright {
    line-height: 2; }

.header__profile-photo::before, .header__profile-photo::after, .header__profile-photo > span::after, .header__profile-photo > span::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border: 2px solid #407982;
  border-radius: 50%; }

.header {
  height: 100vh;
  padding: 0 7rem 4rem 7rem;
  background-image: linear-gradient(100deg, #dfdcd4 0%, #dfdcd4 60%, #f5f4f1 40%); }
  @media only screen and (max-width: 50em) {
    .header {
      background-image: linear-gradient(90deg, #dfdcd4 0%, #dfdcd4 50%, #f5f4f1 50%); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 3.5rem;
      background-position: 80%; } }
  @media only screen and (max-width: 25.875em) {
    .header {
      background-image: linear-gradient(360deg, #dfdcd4 0%, #dfdcd4 40%, #f5f4f1 60%); } }
  .header__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .header .logo-box {
    width: 25rem;
    height: 20rem; }
    @media only screen and (max-width: 37.5em) {
      .header .logo-box {
        width: 20rem;
        height: 15rem; } }
  .header .logo__img {
    height: 100%;
    width: 100%; }
  .header__profile-background {
    align-self: flex-end;
    height: 30rem;
    width: 30rem;
    background-color: #a7a7a2;
    transform: translateY(20%);
    border-radius: 5px; }
    @media only screen and (max-width: 62.5em) {
      .header__profile-background {
        transform: translateY(0); } }
    @media only screen and (max-width: 37.5em) {
      .header__profile-background {
        align-self: center;
        background-color: transparent; } }
  .header__profile-photo {
    height: 30rem;
    width: 30rem;
    position: relative;
    border: 1px solid #6b6b6b;
    transform: translate(-20%, 15%);
    box-sizing: content-box; }
    @media only screen and (max-width: 37.5em) {
      .header__profile-photo {
        transform: translate(0, 0); } }
    .header__profile-photo::before {
      left: 0;
      transform: translate(-50%, -50%); }
    .header__profile-photo::after {
      right: 0;
      transform: translate(50%, -50%); }
    .header__profile-photo > span::after {
      left: 0;
      bottom: 0;
      transform: translate(-50%, 50%); }
    .header__profile-photo > span::before {
      right: 0;
      bottom: 0;
      transform: translate(50%, 50%); }
  .header__img {
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    filter: brightness(120%);
    transform: scale(0.94);
    opacity: .9; }

.section-about, .section-works, .section-contact {
  padding: 15rem 7rem;
  background-color: #fcfaf8; }
  @media only screen and (max-width: 37.5em) {
    .section-about, .section-works, .section-contact {
      padding: 10rem 3.5rem; } }

.section-education {
  background-color: #fcfaf8;
  padding: 4rem 7rem; }
  @media only screen and (max-width: 37.5em) {
    .section-education {
      padding: 3rem 3.5rem; } }

.section-contact {
  background-color: #dae5e6; }

.section-success {
  position: relative;
  height: 100vh;
  background-color: #407982; }

.progress-line {
  position: fixed;
  width: 0%;
  height: .8rem;
  background-color: #407982;
  z-index: 100; }

.icon-bar {
  position: fixed;
  top: 50%; }
  .icon-bar a:link,
  .icon-bar a:visited {
    display: block;
    font-size: 3rem;
    padding: 1rem 1.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .icon-bar a:link,
      .icon-bar a:visited {
        font-size: 2rem;
        padding: .5rem 1rem; } }
  .icon-bar .facebook {
    color: #fff;
    background-color: #3B5998;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .icon-bar .facebook {
        margin-bottom: .5rem; } }
  .icon-bar .instagram {
    color: #fff;
    background-image: linear-gradient(to right bottom, #8a3ab9, #e95950); }
  .icon-bar a:hover,
  .icon-bar a:active {
    background-image: none;
    background-color: #000;
    width: 140%; }
