.header {
	height: 100vh;
	padding: 0 7rem 4rem 7rem;
	background-image:linear-gradient(100deg,#dfdcd4 0%,#dfdcd4 60%,#f5f4f1 40%);
	@include respond(phone){
	   background-image:linear-gradient(90deg,#dfdcd4 0%,#dfdcd4 50%,#f5f4f1 50%);

	}
	@include respond(small-phone){
		padding: 3.5rem;
		background-position: 80%;
	}
	@include respond(phone-xs) {
		background-image:linear-gradient(360deg,#dfdcd4 0%,#dfdcd4 40%,#f5f4f1 60%);
	}
	&__box {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.logo {
       &-box {
         width: 25rem;
         height: 20rem;

         @include respond(small-phone){
         	width: 20rem;
         	height: 15rem;
         }
       }
       &__img {
       	height: 100%;
       width:100%;
       }
	}
}