.about {
	&-box {
		display: flex;
		@include respond(tab-port){
			flex-direction: column;
		}
	}
	&__details {
        flex:0 0 50%;
        padding-right: 5rem;
        opacity: 0;
        @include respond(tab-port){
			flex:1;
			margin-bottom: 10rem;
		}
		@include respond(phone){
			padding-right: 0;
		}
	}
	&__text {
        font-size: 2.3rem;
        line-height: 1.8;
        font-weight:300;
	}
	&__picture {
       flex:1;
       opacity: 0;
       height:50rem;
       @include respond(tab-port){
       	height:100%;
       }
	}
	&__main-img {
		width: 100%;
		opacity: 0;
	}
	&__img {
       width: 100%;
       height:100%;
       object-fit:contain;
    }
}